<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
    <style>
        body{
          background-color: black;
        }
        a{
          text-decoration: none;
          color:steelblue;
        }
      </style>
</head>
<body>
<h1 style="text-align: center;margin:auto;color: white">Share Your Information</h1>
<br>
<br>
<div style="text-align:center; margin:auto; width:25rem;color: white">{{dfhtml | safe}}</div>
<br>
<br>
<h2 style="text-align:center;margin:auto;color: white";><a href="/Submit">Submit</a></h2>
<br>
<br>
<h2 style="text-align:center;margin:auto;color: white";>We're all Friends Here</h2>
<body>
</html>