<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <style>
      body{
        background-color: black;
      }
      a{
        text-decoration: none;
        color:steelblue;
      }
    </style>
</head>
<body>
</br>
</br>
<form style="text-align:center;color: white" novalidate action="/thanks4submit" method="post">
  <label for="cname"><h1>Address:</h1></label><br>
  <input style="text-align:center" type="text" id="cname" name="cname" value="123 Easy St."><br><br><br>
  <label for="uname"><h1>Your name:</h1></label><br>
  <input style="text-align:center" type="text" id="uname" name="uname" value="Roy"><br><br>
  <input type="submit" value="Submit">
</form>

<h2 style="text-align: center;"><a href="/">Home</a></h2>
<body>
</html>